html { height: 100%; }

body {
  height: 100%;
  color:#ddd;
  background: #12151a;
  background-image: url("../images/backgrounds/scifiwallpaper.png");
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

input[type="text"] {
  background-color: #fff;
}

.modal-body {
  height: 244px;
  padding: 20px 40px;
}

.alert {
	margin: 0;
}

.modal-footer {
	padding: 0;
}

@media (min-width: 1200px) {
	.main .box-text {
		background: #2b2d32 url("../images/template/icon-search.png") 5px top no-repeat;
		padding: 0px 80px 0px 35px;
		border: 1px solid #33363b;
		height: 37px;
		line-height: 37px;
		vertical-align: middle;
		width: 614px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		outline: none;
	}

}

@media (max-width: 979px) and (min-width: 768px) {
	.main .box-text {
		background: #2b2d32 url("../images/template/icon-search.png") 5px top no-repeat;
		padding: 0px 80px 0px 35px;
		border: 1px solid #33363b;
		height: 37px;
		line-height: 37px;
		vertical-align: middle;
		width: 398px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		outline: none;
	}
}
