<div class="navbar navbar-fixed-top">

	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="#">
				<span>AT&T</span><span class="cl-blue">myU-verse</span>
			</a>

			<div ng-show="loggedIn" class="nav-collapse">
				<ul class="nav pull-right">
					<li><a href="/">HTML5 + GPU</a></li>
					<li><a href="/html5">HTML5</a></li>
					<li><a href="/html4">HTML4</a></li>

					<li class="divider-vertical"></li>
					<li>
					<li ng-style="avatar" class="avatar_small"><a href="account.html"></a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" href="#" data-toggle="dropdown">
							{{ name }}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li>
								<a href="profile.html">
									<i class="icon-user"></i>
									Account Setting </a>
							</li>
							<li>
								<a href="setting.html">
									<i class="icon-lock"></i> Change Password</a>
							</li>
							<li class="divider"></li>
							<li>
								<a href="login_modal.html"><i class="icon-off"></i> Logout</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>