<!--Webcam login-->
<div class="row-fluid">
	<div class="span7">
		<!--Loading spinner-->
		<div ng-hide=hideSpinner>
			<span us-spinner="spinnerOpts" />
		</div>
		<webcam on-stream="onStream(stream,video)"
		        on-access-denied="onError(err)"
		        on-streaming="onSuccess(video)">
			<div class="webcamcanvas" webcam-canvas>
				<canvas id="snapshot"/>
			</div>
		</webcam>
	</div>
	<div class="span4">
		<form name="webcamuser" novalidate>
			<div class="control-group" ng-class="{error: webcamuser.firstname.$invalid}">
				<div class="controls">
					<input type="text" name="firstname" ng-model="firstname" placeholder="Type first name…" required
					       ng-pattern="/^[A-Z][A-Za-z]*$/" ng-trim="true" value="{{ firstname }}">
					<span class="help-inline" ng-show="webcamuser.firstname.$error.required">First name required</span>
					<span class="help-inline" ng-show="webcamuser.firstname.$error.pattern && webcamuser.firstname.$dirty">First name must start with a capitol letter and only include characters A-Z / a-z</span>
				</div>
			</div>
			<div class="control-group" ng-class="{error: webcamuser.lastname.$invalid}">
				<div class="controls">
					<input type="text" name="lastname" ng-model="lastname" placeholder="Type last name…" required
					       ng-pattern="/^[A-Z][A-Za-z]*$/" ng-trim="true" value="{{ lastname }}">
					<span class="help-inline" ng-show="webcamuser.lastname.$error.required">Last name is required</span>
					<span class="help-inline" ng-show="webcamuser.lastname.$error.pattern && webcamuser.lastname.$dirty">Last name must start with a capitol letter and only include characters A-Z / a-z</span>
				</div>
			</div>
		</form>
	</div>
</div>
