<div class="main">
	<div class="container">
		<div class="row">
			<div class="box-wrapper span12">
				<div class="widget">
					<div class="wrapper-search">
						<form class="form-inline form-search border-rd4">
							<input placeholder="Type somethings to search .." type="text" class="box-text">
							<a href="#" class="btn-search"></a>
						</form>
					</div>
				</div>
			</div>
			<!-- end box-wrapper -->
		</div>
		<div class="row">
			<div class="box-wrapper  span12">
				<div class="container" ui-view></div>
			</div>
		</div>
	</div>
</div>