<!--Webcam login-->
<!--Loading spinner-->
<div ng-hide=hideSpinner>
	<span us-spinner="spinnerOpts"/>
</div>
<!--hidden webcam-->
<div ng-hide=true>
	<webcam on-stream="onStream(stream,video)"
	        on-access-denied="onError(err)"
	        on-streaming="onSuccess(video)">
		<div class="webcamcanvas" webcam-canvas>
			<canvas id="snapshot"/>
		</div>
	</webcam>
</div>
